.body {
    background-color: #00ff00;
    margin: 0px;
    padding :0px;
    border: 0px;
}

.image {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.bordered {
    border: solid 1px #00ff00;
}

label {
}

.nav-btn {
    color: #00ff00;
    padding: 4px 20px 4px 20px;
    border: solid 1px lime;
    font-weight: bold;
}

.nav-bar {
    padding-bottom: 8px;
}

.nav-ctrl {
    margin-bottom: 8px;
}

.page-num {
    margin-left: 8px;
    margin-right: 8px;
}

box { 
    padding: 4px;
}
