.body {
    background-color: #00ff00;
    margin: 0px;
    padding :0px;
    border: 0px;
}

.image {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.bordered {
    border: solid 1px #00ff00;
}

label {
}

.nav-btn {
    background-color:#000000;
    color: #00ff00;
    padding: 2px 18px 2px 18px;
    border: solid 1px black;
    font-weight: bold;
}

.nav-bar {
    padding-bottom: 8px;
}

progressbar trough progress {
    background-color: #00ff00;
    color: #ffffff;
    border: solid 1px #00ff00;
}

.nav-ctrl {
    padding-bottom: 8px;
}

.page-num {
    margin-left: 8px;
    margin-right: 8px;
}

box { 
    padding: 4px;
}
